body {
    background-color: #181B1F;
}
#nav_bar {
}

#title { 
    font-family: 'antonregular';
    font-stretch: extra-expanded;
    background-color: #774be7;
    background: linear-gradient(135deg, rgba(64,201,255,1) 0%, rgba(232,28,255,1) 100%);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: clamp(1rem, 2.5vw, 2rem); 
  }

#title:hover {
    animation: shiny 2s ease-in-out infinite alternate;
}

#nav_bar_items {
    font-family: 'Cabin';
    font-size: clamp(1rem, 2vw, 1.2rem); 
  } 

#nav_buy:hover, #nav_sell:hover, #nav_exchange:hover { 
    font-weight: bold;
    color: hsl(0, 0%, 79%);
    background: #c9c9c9;
    background-size: 300% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.selected {
    font-weight: bold;
    color: #ff0000;
    background: #ff0000;
    background-size: 300% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#nav_buy:active::after, #nav_sell:active::after, #nav_exchange:active::after {
    font-weight: bold;
    color: #ff0000;
    background: #ff0000;
    background-size: 300% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.svg-list {
    display: flex; /* Display the SVGs in a horizontal row */
    justify-content: left; /* Center the SVGs horizontally */
    align-items: center; /* Center the SVGs vertically */
    gap: 25px; /* Add some spacing between SVGs */
}

.mat-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#svg-slider {
    width: 100%;
    overflow: hidden;
  } 
  
  .glide__slides {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
    height:60px;
}

.glide__slide {
    width: 200px; /* Adjust the width as per your preference */
    margin-right: 0px; /* Adjust the right margin as per your preference */
    margin-left:20px;
    min-width:200px;
}
.glide__slide svg {
    width:200px;
    min-width:200px;
    height:60px;
}

.primary-bg{
    background-color: #181B1F;
}

.secondary-bg{
    background-color: #23252D;
}


@font-face {
    font-family: 'antonregular';
    src: url('fonts/anton-regular-webfont.woff2') format('woff2'),
         url('fonts/santon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('fonts/cabin-v26-latin-regular.woff2') format('woff2');
  }

@keyframes shiny {
    0% {
      background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }