<html>



<body>
	{% include 'navbar.html' %}


      <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow card rounded-box w-3/5 h-2/5 ">
            <div id="dotsContainer" class="dots flex justify-center items-center rounded-xl">
                <img src="https://csgostash.com/storage/img/skin_sideview/s1557.png?id=e24012dec0219d7e15d7b3a94f2a5afe">
            </div>
            <div class="flex h-4 rounded bg-gray-200" style="width:100%;">
              <div class="h-full tooltip" data-tip="Factory New" style="background-color:#01BC8D; width: 7%"></div>
              <div class="h-full tooltip" data-tip="Minimal Wear" style="background-color:#3598DA; width: 8%"></div>
              <div class="h-full tooltip" data-tip="Field Tested" style="background-color:#375a7f; width: 22%"></div>
              <div class="h-full tooltip" data-tip="Well Worn" style="background-color:#f39c12; width: 7%"></div>
              <div class="h-full tooltip" data-tip="Battle-Scarred" style="background-color:#e74c3c; width: 56%"></div>
            </div>
            <div class="relative">
              <div class="absolute w-full" style="left:18.7%">
                <span class="material-symbols-outlined text-white" style="line-height: 0.5;">
                  expand_less
                  </span>
              </div>
            </div>
            
        </div> 
        <div class="divider lg:divider-horizontal"></div> 
        <div class="grid flex-grow card  rounded-box place-items-center">
            <div class="stat-value" style="color:#ffffff">$412.21</div>
            <a href="/addToCart">
              <svg xmlns="http://www.w3.org/2000/svg" style="width:200px; height:60px;">
                  <g transform="scale(0.4)">
                      <path fill="#3598DA" d="M0 0 L450 0 L500 50 L500 150 L50 150 L0 100" />
                      <text x="250" y="75" text-anchor="middle" dominant-baseline="middle"
                          style="font-size: 50px; user-select:none; font-family: 'Montserrat', sans-serif; font-weight: 400;" fill="#0E1216">ADD TO CART</text>
                  </g>
              </svg>
          </a>
            <div class="overflow-x-auto">
                <table class="table" style="color:#ffffff">
                  <!-- head -->
                  <thead>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <tr>
                      <th>Type:</th>
                      <td>Rifle</td>
                    </tr>
                    <tr>
                        <th>Weapon:</th>
                        <td>AK-47</td>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <th>Collection:</th>
                        <td>Chop Shop</td>
                    </tr>
                    <!-- row 3 -->
                    <tr>
                      <th>Rarity:</th>
                      <td>Covert</td>
                  </tr>
                    <tr>
                        <th>Float:</th>
                        <td>0.1872371</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            
        </div>
      </div>

</body>

</html>